
<p-card  header="Asignar Laptops">
    <p>Asignar laptops a la renta con el numero id: {{this.rentaDetail?.id}} </p>
    <p>numero de laptops a rentar :  {{this.rentaDetail?.numeroComputadoras}} </p>

    <div class="grid">
        <div class="col-12 xl:col-6" *ngFor="let i of computerArray; let index = index ">
            <label for="">Laptop #{{ i + 1 }}</label>
            <div>
                <p-dropdown 
                [formControl]="selectLaptops[index]"
                [options]="computadoras" 
                optionLabel="combinedValue" 
                optionValue="combinedValue"
                (onChange)="handleSelectionChange($event, index)"
                placeholder="Selecciona la laptop">
                </p-dropdown>
                  
            </div> 

        </div>
    </div>

    <button pButton label="Asignar Laptops"> </button>



</p-card>