
<h2>Mis Rentas</h2>
 
<div class="flex flex-column">
<p-progressSpinner class="flex justify-content-center" *ngIf="!loading" ariaLabel="loading"  />
</div>

<p-messages *ngIf="this.alert"severity="error">
    <ng-template pTemplate>
        <div class="ml-2">No hay rentas <strong> </strong> por el momento.</div>
    </ng-template>
</p-messages>

<!-- <div *ngIf="!alert"> -->
<div class="card" *ngIf="loading && this.rentas?.length>0" >
    <p-table [value]="rentas" [tableStyle]="{'min-width': '50rem'}"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
    >
    
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>#Id</th>
                <th>Nombre </th>
                <th># laptops</th>        
                <th>Fecha Inicio</th>
                <th>Fecha Fin </th>
                <th>Estatus </th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-renta let-ticket let-i="rowIndex" >
            <tr>
                <td>
                    {{renta.id}}
                </td>
                <td>
                    {{renta.nombre}}
                </td>
                <td>
                    {{renta.numeroComputadoras}}
                </td>
                <td>
                    {{renta.diaInicio | date: 'dd/MM/yyyy '}}
                </td>
                <td>
                    {{renta.diaFin | date: 'dd/MM/yyyy '}}
                </td>
                <td>
                    {{renta.estatus}}
                </td>

                <td>
                    <button class="p-button-sm mr-1" icon="pi pi-eye" pButton label="Ver" (click)="redirectTo(renta.id)" > </button>
                    <button class="p-button-sm" icon="pi pi-eye" [disabled]="renta.EquiposParaRenta ===null" pButton label="Responsiva" (click)="generarMinuta(renta.id)" > </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- </div> -->



    <!-- <div *ngIf="alert" class="card">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"  />
    </div>  -->


    <div class="card flex justify-content-center" *ngIf="loading">
        <p-dialog 
            header="Responsiva" 
            [modal]="true" 
            [(visible)]="visible" 
            [style]="{ width: '50rem' }" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
            [maximizable]="true">
                <p>
                    Se hace entrega de {{laptopsUsadas?.length}} equipos de cómputo (laptop) con un cable de conexión de carga, cable de toma corriente, {{laptopsUsadas?.length}} mouses funcionales con su  mousepad a la persona.<strong> {{rentaDetalles?.nombre}}</strong>, haciéndose responsable del equipo, para uso personal con un tiempo estimado de entrega indefinido del presente año, quedando bajo su resguardo debiéndolo regresar a la empresa en las mismas condiciones que se le fue entregado.
                Equipos: </p>
                <br>
                <ul *ngFor="let lap of laptopsUsadas let i = index">
                    <li > {{i+1}}.Marca:  {{lap?.marca}} - N.Serie: {{lap?.NSerie}} - Equipo: {{lap?.equipo}} </li>
                </ul>


                <div class="grid">
                    <div class="col-6 xl:col-6">
                        Entrega
                        ----------------
                        <p>JOSE JAIME GONZALEZ FLORES</p>
                    </div>
                    <div class="col-6 xl:col-6">
                        Recibe Equipo
                        ----------------
                        <p> {{rentaDetalles?.nombre}} </p>
                    </div>
                </div>

        </p-dialog>
    </div>
    