


<button class="m-2" pButton label="Responsiva" (click)="look()"></button>



    <p-dialog 
        header="Responsiva" 
        [modal]="true" 
        [(visible)]="visible" 
        [style]="{ width: '50rem' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [maximizable]="false"
        contentStyleClass="dialog-content">
        <div id="print-section" class="dialog-background">

            <!-- <img src="assets\fotosCGP\logo_3.jpg" alt="Logo CGP" class="mb-5 w-6rem flex-shrink-0">                 -->

            <p>
                Se hace entrega de {{laptopsUsadas?.length}} equipos de cómputo (laptop) con {{laptopsUsadas?.length}} cable(s) de conexión de carga, cable de toma corriente, {{laptopsUsadas?.length}} mouses funcionales con su  mousepad a la persona.<strong> {{dataFromParent?.nombre}}</strong>, haciéndose responsable del equipo, para uso personal con un tiempo estimado de entrega indefinido del presente año, quedando bajo su resguardo debiéndolo regresar a la empresa en las mismas condiciones que se le fue entregado.
            Equipos: </p>
            <br>
            <ul *ngFor="let lap of laptopsUsadas let i = index">
                <li > {{i+1}}.Marca:  {{lap?.marca}} - N.Serie: {{lap?.NSerie}} - Equipo: {{lap?.equipo}} </li>
            </ul>


            <div class="grid">
                <div class="col-6 xl:col-6">
                    Entrega
                    ----------------
                    <p>JOSE JAIME GONZALEZ FLORES</p>
                </div>
                <div class="col-6 xl:col-6">
                    Recibe Equipo
                    ----------------
                    <p> {{dataFromParent?.nombre}} </p>
                </div>
            </div>
</div>

<div class="flex align-content-between">
<button class="m-2" pButton label="descargar PDF" (click)="downloadPDF()"></button>
<!-- <button class="m-2" pButton label="Imprimir" (click)="printContent()"></button> -->
</div>
    </p-dialog>
<!-- </div> -->
