.dialog-content {
    position: relative;
}

.dialog-background {
    // background: url('https://visualmanagment.com/AppCGP/imagenes/logo_3.jpg') no-repeat center center;
    background: url("../../../../../assets/fotosCGP/logo_3.jpg") no-repeat center center;
    background-size: 460px;
    background-repeat: no-repeat;
    padding:105px;
    
    // min-height: 500px; /* Ajusta esto según sea necesario */
    // height: 100%;
    // width: 100%;
}
