
<div *ngIf="!loading" class="flex align-items-center justify-content-center">
<p-progressSpinner 
    styleClass="w-4rem h-4rem" 
    strokeWidth="8" 
    fill="var(--surface-ground)" 
    animationDuration=".8s" />
</div>

<div *ngIf="loading" class="flex align-items-center">
  <!-- Botón de Volver -->
  <button pButton icon="pi pi-arrow-left" class="p-button-rounded p-button-text" (click)="volver()" label="Volver"></button>
</div>

<p-card *ngIf="loading" header="Detalles de la solicitud con el Id # {{this.solicitud?.id}}"  class="custom-card">
    <div class="formgrid grid p-fluid">
      
      <!-- Campo Nombre -->
      <div class="field col-12 md:col-6">
        <label for="nombre">Nombre:</label>
        <strong id="nombre"> {{this.solicitud?.nombre}} </strong>
      </div>
      <div class="field col-12 md:col-6">
        <label for="nombre">Enviado por el usuario:</label>
        <strong id="nombre"> {{this.solicitud?.usuario}} </strong>
      </div>
      <div class="field col-12 md:col-6">
        <label for="nombre">Descripcion:</label>
        <strong id="nombre"> {{this.solicitud?.descripcion}} </strong>
      </div>
      <!-- Campo Nombre del Curso -->
      <div *ngIf="this.solicitud?.nombre_curso !==undefined || this.solicitud?.nombre_curso !== '' " class="field col-12 md:col-6">
        <label for="nombreCurso">Nombre del Curso:</label>
        <strong id="nombreCurso"> {{this.solicitud?.nombre_curso}} </strong>
      </div>
      
      <!-- Campo ID del Curso -->
      <div *ngIf="this.solicitud?.idCurso !==0" class="field col-12 md:col-6">
        <label for="idCurso">ID del Curso:</label>
        <strong id="idCurso"> {{this.solicitud?.idCurso}} </strong>
      </div>
      
      <!-- Campo Link del Curso -->
      <div class="field col-12 md:col-6">
        <label for="linkCurso">Link del Curso:</label>
        <a> {{this.solicitud?.link}} </a>
      </div>
      <!-- <div class="field col-12 md:col-6">
        <label for="linkCurso">Link del Curso:</label>
        <a> {{this.solicitud?.link}} </a>
      </div> -->
      
      <div class="field col-12 md:col-6">
        <label>Asignada al usuario :</label>
        <strong *ngIf="solicitud?.asignada_a; else noAsignado">
          {{ solicitud?.asignada_a }}
        </strong>
      
        <!-- Mostrar mensaje en rojo si no existe el usuario asignado -->
        <ng-template #noAsignado>
          <span style="color: red;">Aún no se ha asignado a ningun usuario esta solicitud</span>
        </ng-template>
      </div>
      <div class="field col-12 md:col-6">
        <label>Categoria:</label>
        <strong> {{this.solicitud?.categoria}} </strong>
      </div>
      <div class="field col-12 md:col-6">
        <label>Estatus:</label>
        <p-tag  [severity]="severity(this.solicitud?.estatus)" [value]="this.solicitud?.estatus"/>
        <!-- <strong> {{this.solicitud?.estatus}} </strong> -->
      </div>
      <div class="field col-12 md:col-6">
        <form [formGroup]="formComentarios">
        <p-accordion [activeIndex]="-1">
          <p-accordionTab header="Comentarios">
            <p *ngIf="flag || this.solicitud.comentarios1">
              comentarios por parte de <strong>  {{this.solicitud?.nombre}} </strong>
                : {{this.comentarios || this.solicitud?.comentarios1}}
              </p>
              <div *ngIf="!flag">
              <textarea placeholder="Agregar comentarios" formControlName="comentarios" id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
              <button [disabled]="formComentarios.invalid || this.solicitud?.comentarios1" type="click" (click)="addComent()" class="p-button"> Agregar comentario</button>
              </div>
            
              <p-messages />

          </p-accordionTab>
          </p-accordion>
          </form>
      </div>
      <!-- Imagen del Curso -->
      <div class="field col-12 md:col-12">
        <label>Archivos adjuntados:</label>
        <div *ngFor="let archivo of imagenes">
          <a [href]="archivo?.url_imagen" target="_blank" download>
            {{ obtenerNombreArchivo(archivo?.url_imagen) }}
          </a>
        </div>
      </div>
      
      
      
  
      <!-- Botón Asignar -->
      <div *ngIf="flag" class="field col-12 md:col-6 flex align-items-center justify-content-center">
        <button [disabled]="this.solicitud?.asignada_a" pButton type="button" (click)="showDialog()" label="Asignar" icon="pi pi-check" class="p-button-success"></button>
      </div>
      <div *ngIf="flag" class="field col-12 md:col-6 flex align-items-center justify-content-center">
        <button (click)="tomarSolicitud()" [disabled]="this.solicitud?.asignada_a" pButton type="button" label="Tomar solicitud" icon="pi pi-check" class="p-button-success"></button>
      </div>
    </div>
  </p-card>
  

  <p-dialog 
    header="Asignacion" 
    [modal]="true"
    [(visible)]="visible" 
    [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [maximizable]="true">

    <div class="formgrid grid">
    <div class="field col-6 md:col-12">
      <label for="state">Usuario</label>
      <select placeholder="Asigna" [(ngModel)]="usuarioSeleccionado" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
          <option *ngFor="let usuario of usuariosMateriales"  [value]="usuario"> {{usuario}} </option>
      </select>
  </div>
  <div *ngIf="flag" class="field col-6 md:col-12">
    <button pButton type="button" label="Asignar solicitud" (click)="asignar()"></button>
</div>
</div>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />


        
</p-dialog>