<div class="grid flex flex-column align-items-center">
  <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="height:4rem; width:4rem;">
      <i class="pi pi-fw pi-check-circle text-3xl text-white"></i>
  </div>

  <div class="m-4">
  <p>Tu requisicion ha sido exitosa</p>
  <p>Favor de esperar la confirmacion de RH</p>
  <button pButton pRipple icon="pi pi-arrow-left" label="Ir a mis requisiciones" class="p-button-text" [routerLink]="['/requisicion/requisiciones_solicitadas']"></button>

  </div>
</div>