


<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/demo/images/cgpgroup/Logo-Azul-CGP.png" alt="logo">
        <!-- <span>CGP</span> -->
    </a>
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    
    <div #topbarmenu  class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" [routerLink]="'/notifications'">
            <!-- <i   pBadge [value]="this.notification" class="pi pi-bell"></i> -->
            <i class="pi pi-bell" pBadge [value]="this.notification?.length" *ngIf="this.notification?.length > 0"></i>
            <i class="pi pi-bell" *ngIf="this.notification?.length === 0"></i>
            <span class="hide">Notificaciones </span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/editarPerfil'">
            <i class="pi pi-user"></i>
            <span class="hide">Perfil</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span class="hide">Configuracion</span>
        </button>
    </div>
</div>