<table border="1" style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th colspan="3" style="text-align: center;">Habilidades requeridas (señale con una X los que se requieran para el puesto)</th>
        </tr>
        <tr>
            <th>Análisis</th>
            <th>Liderazgo</th>
            <th>Comunicación</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>Comprensión verbal/escrita   <strong>X</strong> </div> 
                <div>Seguimiento de instrucciones/procedimientos</div>
                <div>Objetividad en el manejo de información</div>
            </td>
            <td>
                <div>Manejo de personal</div>
                <div>Negociación</div>
                <div>Toma de decisiones</div>
                <div>Poder personal (lograr que sucedan las cosas)</div>
            </td>
            <td>
                <div>Facilidad de palabra</div>
                <div>Dominio de público</div>
                <div>Asertividad</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div>Otros (especificar):</div>
            </td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;">Planeación / Organización</th>
        </tr>
        <tr>
            <td>
                <div>Iniciativa</div>
                <div>Creatividad</div>
            </td>
            <td>
                <div>Orientado a resultados</div>
                <div>Adaptable a cambios</div>
            </td>
            <td>
                <div>Clasificación y orden lógico de información</div>
                <div>Concentración</div>
                <div>Trabajo en equipo</div>
                <div>Manejo de estrés laboral</div>
            </td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;">Actitudes Requeridas</th>
        </tr>
        <tr>
            <td>
                <div>Responsable</div>
            </td>
            <td>
                <div>Empático</div>
                <div>Emprendedor</div>
            </td>
            <td>
                <div>Colaborador</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div>Otras habilidades o actitudes requeridas: Sentido de pertenencia</div>
            </td>
        </tr>
    </tbody>
</table>
