<div *ngIf="!loading" class="flex flex-column">
    <p-progressSpinner class="flex justify-content-center" *ngIf="!loading" ariaLabel="loading"  />
    </div>
<div *ngIf="loading">
<div class="p-card">


    <div class="flex flex-column p-1">
        <h4 class="flex justify-content-center ">Detalles de la renta con el ID # {{renta.id}} </h4>
    </div>

    <div *ngIf="renta.EquiposParaRenta" class="flex justify-content-end">

        <!-- <button class="m-2" pButton label="Responsiva" [dataFromParent]="renta" ></button> -->
         <app-responsiva [dataFromParent]="renta" [laptopsUsadas]="laptopsUsadas"></app-responsiva>
        
    </div>

    <div class="grid p-1">

        <div class="col-12 xl:col-12">

            <div class="flex flex-column">
                    <p> <strong>  Nombre :  </strong>  {{renta.nombre}} </p>
                    <p> <strong> Numero de Computadoras : </strong> {{renta.numeroComputadoras}} </p>
                    <div class="grid">
                        <div class="col-12 xl:col-4">
                    <p> <strong>  fecha de inicio : </strong> {{renta.diaInicio | date:'dd/MM/yyyy'}} </p>
                    </div>
                        <div class="col-12 xl:col-6">
                    <p> <strong> fecha de Fin : </strong>  {{renta.diaFin | date: 'dd/MM/yyyy'}} </p>
                    </div>
                    </div>
                    <p> <strong>  Comentarios: </strong> {{renta.comentarios ? renta.comentarios: 'Sin Comentarios'}}   </p>
                    <p> <strong>  Programas: </strong> {{renta.programas ? renta.programas:'Sin Programas'}}  </p>
                    <p> <strong>  Mouse :  </strong> {{renta.mouse | changeBoolean:renta.mouse}}  </p>
                    <p> <strong>  Extensiones : </strong> {{renta.extensiones | changeBoolean:renta.extensiones}}   </p>

                    
            </div>

        </div>
    </div>

</div>


<p-card class="p-1" header="Computadoras que se usaron">

    <div *ngIf="!renta.EquiposParaRenta">
        <p>Aun no se han seleccioando las laptops que se usaran </p>
    </div>

    <div *ngIf="renta.EquiposParaRenta">
     <p-table 
        [value]="laptopsUsadas" 
        styleClass="p-datatable-gridlines" 
        [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Marca</th>
                    <th>N.Serie</th>
                    <th>#Equipo </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-r>
                <tr>
                    <td>{{ r.marca }}</td>
                    <td>{{ r.NSerie }}</td>
                    <td>{{ r.equipo }}</td>
                </tr>
            </ng-template>
    </p-table> 
    <!-- </div> -->


<!-- </p-card> -->

<!-- </div> -->