
<p-card header="Requisicion Instructor" *ngIf="!messageSuccesful">
    <form [formGroup]="requisicionForm2" (ngSubmit)="onSubmit()" >

    <h5 *ngIf="currentStep===1">Datos del solicitante</h5>


    <div class="formgrid grid" *ngIf="currentStep===1">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Usuario</label>
            <input formControlName="usuario"  id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Fecha</label>
            <input formControlName="fecha"  id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Nombre del solciitante</label>
            <input formControlName="nombre_del_solicitante" placeholder="" id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <p-messages *ngIf="isFieldInvalid('nombre_del_solicitante')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">Obligatorio nombre del solicitante</span>
                </ng-template>
            </p-messages>
        </div>
        <!-- <div class="field col-12">
            <label for="address">Descripcipion</label>
            <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
        </div> -->
        <div class="field col-12 md:col-3">
            <label for="state">Puesto del solicitante</label>
            <select formControlName="puesto_del_solicitante" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option *ngFor="let puesto of puestoSolicitante" [value]="puesto.name">{{ puesto.name }}</option>
            </select>
            <p-messages *ngIf="isFieldInvalid('puesto_del_solicitante')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">Obligatorio puesto del solicitante</span>
                </ng-template>
            </p-messages>
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">Region del solicitante</label>
            <select formControlName="region_solicitante" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option *ngFor="let region of regionSolicitante" [value]="region.name"> {{region.name}}</option>
            </select>
        </div>
        
    </div>

    <h5 *ngIf="currentStep===1">Datos del curso</h5>

    <div class="formgrid grid" *ngIf="currentStep===1">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Tematica solicitada</label>
            <input formControlName="tematica_solicitada" placeholder="EJ: Core Tools" id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            <p-messages *ngIf="isFieldInvalid('tematica_solicitada')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">La tematica Solicitada es obligatoria</span>
                </ng-template>
            </p-messages>
        </div>
        
        <div class="field col-12 md:col-6">
            <label for="lastname6">Numero de vacantes</label>
            <select formControlName="num_vacantes" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option  *ngFor="let numVacantes of numVacantes" [value]="numVacantes.name" > {{numVacantes.name}} </option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Localidad donde se impartira</label>
            <input formControlName="localidad_impartira" placeholder="EJ: Saltillo" id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Numero de participantes</label>
            <select formControlName="num_participantes" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option *ngFor="let p of numeroDeParticipantes" [value]="p.name" > {{p.name}} </option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">Horarios y dias requeridos</label>
            <select (change)="horarioChange($event)" formControlName="horarios_dias_requeridos" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option *ngFor="let h of horariosYDias" [value]="h.name">{{h.name}} </option>
            </select>
            <p-messages *ngIf="isFieldInvalid('horarios_dias_requeridos')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">Obligatorio Horarios del cliente</span>
                </ng-template>
            </p-messages>
        </div>
        <div class="field col-12 md:col-6" *ngIf="isOtroSelected">
            <label for="customHonorario"></label>
            <textarea placeholder="Escribe los detalles de los horarios y dias requeridos" formControlName="horarios_dias_requeridos" id="customHonorario" rows="3" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
          </div>
          
        <div class="field col-12">
            <label for="address">Motivo del requeimiento del cliente</label>
            <textarea formControlName="motivo_del_requerimiento_cliente" id="address" type="text" rows="3" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            <p-messages *ngIf="isFieldInvalid('motivo_del_requerimiento_cliente')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">Obligatorio motivo del cliente</span>
                </ng-template>
            </p-messages>
        </div>
        <div class="field col-12">
            <!-- <textarea formControlName="honorario_a_ofrecer"  id="address" type="text" rows="3" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea> -->
            <label for="salario">Honorario a ofrecer</label>
            <p-inputNumber   mode="currency"currency="USD" id="salario" formControlName="honorario_a_ofrecer" locale="en-US"/>
            <p-messages *ngIf="isFieldInvalid('honorario_a_ofrecer')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">Obligatorio Honorario</span>
                </ng-template>
            </p-messages>
        </div>
        
    </div>

<!-- paso dos  -->

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />


        <h5 *ngIf="currentStep>1" >Datos del Instructor</h5>
    <div class="formgrid grid" *ngIf="currentStep>1">
        <div class="field col-12 md:col-6">
            <label for="state">Escolaridad minima</label>
            <select formControlName="escolaridad_minima" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>bachillerato</option>
                <option>Licenciatura / ingieneria</option>
                <option>Posgrado</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Sexo</label>
            <select formControlName="sexo" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>Masculino</option>
                <option>Femenino</option>
                <option>Otro</option>
            </select>
        </div>
        <div class="field col-12 md:col-6">
            <label for="state">Requiere dominio de idiomas</label>
            <select (change)="IdiomaChange($event)" formControlName="requiere_dominio_idiomas" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>No</option>
                <option>Si</option>
            </select>
        </div>
        <div class="field col-12 md:col-12" *ngIf="idiomaSelected">
            <label for="customHonorario"></label>
            <textarea placeholder="Escribe el idioma requerido" formControlName="idioma" id="idioma" rows="1" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            <p-messages *ngIf="isFieldInvalid('idioma')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">campo Obligatorio</span>
                </ng-template>
            </p-messages>
          </div>
        <div class="field col-12 md:col-6">
            <label for="state">Años de experiencia</label>
            <select formControlName="anios_experiencia" id="state" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                <option>5-10</option>
                <option>10-15</option>
            </select>
        </div>
        <div class="field col-12">
            <label for="address">Principales temas, conocimientos y habilidades requeridas</label>
            <textarea placeholder="" formControlName="principales_temas"  id="address" type="text" rows="3" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            <p-messages *ngIf="isFieldInvalid('principales_temas')" severity="error" >
                <ng-template pTemplate>
                    <span class="ml-2">campo Obligatorio</span>
                </ng-template>
            </p-messages>
        </div>
    </div>


    <div class="flex justify-content-between flex-wrap">
        <p-button icon="pi pi-arrow-left" *ngIf="currentStep > 1" (onClick)="previous()" label="Anterior"></p-button>
        <p-button icon="pi pi-arrow-right" *ngIf="currentStep < 2" (onClick)="next()" label="Siguiente" class="ml-auto"></p-button>
        
        <button icon="pi pi-check" pButton  class="p-button-success" type="submit"*ngIf="currentStep ===2" label="Enviar Datos"></button>
    </div>

    
    </form>
    
    </p-card>




    <div *ngIf="messageSuccesful"  class="grid flex flex-column align-items-center">
        <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="height:4rem; width:4rem;">
            <i class="pi pi-fw pi-check-circle text-3xl text-white"></i>
        </div>
      
        <div class="m-4">
        <p>Tu requisicion externa  ha sido exitosa</p>
        <p>Favor de esperar la confirmacion de RH</p>
        <button pButton pRipple icon="pi pi-arrow-left" label="Ir a mis requisiciones Externas" class="p-button-text" [routerLink]="['/requisicion/externas/mis-requisiciones-externas']"></button>
      
        </div>
      </div>